<!DOCTYPE html>
<html>
<head>
    <title>Gulp Practice!</title>
    <link rel="stylesheet" type="text/css" href="/css/application.min.css">
    <script type="text/javascript" src="/js/application.min.js"></script>
</head>
<body>
    <h1>This is the index view!</h1>
</body>
</html>
