<!DOCTYPE html>
<html>
<head>
    <title>Gulp Practice!</title>
    <link rel="stylesheet" type="text/css" href="/css/application.min.css">
    <script type="text/javascript" src="/js/application.min.js"></script>
</head>
<body>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <h1>This is the index view!</h1>
    <button type="button" id="my-btn" name="button">Button!</button>
    <script>
      document.querySelector('#my-btn').addEventListener('click', function(){
        console.log('click!');
      })

    </script>
</body>
</html>
